.input-container {
  position: relative;
  // margin-bottom: 45px;

  label {
    color: #999;
    font-size: 1em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 300px;

    &:before,
    &:after {
      content: '';
      height: 1px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: var(--primary);
      transition: 0.2s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  input {
    font-size: 0.9em;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    &:focus {
      outline: none;
    }

    &:focus,
    &:valid {
      border-bottom: 1px solid var(--primary);
    }

    &:focus ~ label,
    &:valid ~ label {
      top: -10px;
      font-size: 0.8em;
      color: var(--primary);
    }

    &:focus ~ .bar:before,
    &:focus ~ .bar:after {
      width: 50%;
    }

    &:focus ~ .highlight {
      animation: inputHighlighter 0.3s ease;
    }
  }
}

@keyframes inputHighlighter {
  from {
    background: var(--primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
